<div class="d-flex" style="margin: 10%;background-color: red">
    <div class="conteiner-1" style="width: 60%;">
        <div class="conteiner-2" >
            <div class="conteiner-1 d-flex" style="margin-top: 10vh; ">
                <label for="exampleFormControlInput1" class="form-label mt-2 me-2">Vehículo:</label>
                <select class="form-select" aria-label="Default select example">
                    <option selected>Seleccione</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
            </div>
        </div>
        <div>
            <div class="mb-3" style="margin-top: 25%; ">
                <label class="form-label">Observaciones</label>
                <textarea class="form-control" rows="6"></textarea>
            </div>
        </div>
    </div>

    <div class="conteiner-1" style="margin-left: auto; margin-top: 10vh; ">
        <label for="exampleFormControlInput1" class="form-label mt-2 me-2">Fecha:</label>
        <div>
            <app-calendario></app-calendario>
        </div>
    </div>
</div>