<div class="container pt-5 ps-5 pe-5">
    <div class="row">
        <div class="col-md-6 mb-3 pe-5">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Buscar" [(ngModel)]="searchTerm">
                <button class="btn btn-primary" type="button">Buscar</button>
            </div>
        </div>
        <div class="col-md-6 mb-3 text-md-right " style="margin-left: auto;display: flex; justify-content: flex-end;" >
            <button class="btn btn-success" type="button" data-bs-toggle="modal"
                data-bs-target="#staticCrear">Crear</button>
            <button class="btn btn-danger" type="button" (click)="eliminarSeleccionados()">Eliminar
                Seleccionados</button>
        </div>
    </div>
</div>

<div class="container pt-5 ps-5 pe-5">
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">ID</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Fecha Nacimiento</th>
                    <th scope="col">Telefono</th>
                    <th scope="col">Correo</th>
                    <th scope="col">Ciudad Residencia</th>
                    <th scope="col">Dirrecion</th>
                    <th scope="col">Sede</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                <tr *ngFor="let cliente of clientesList | filter: searchTerm; let i = index">
                    <td><input type="checkbox" class="form-check-input" [(ngModel)]="mecSelected[i]" /></td>
                    <td>{{ cliente.id }}</td>
                    <td>{{ cliente.nombre }}</td>
                    <td>{{ cliente?.fechaNacimiento | date: 'shortDate'}}</td>
                    <td>{{ cliente.telefono }}</td>
                    <td>{{ cliente.correo }}</td>
                    <td>{{ cliente.ciudadResidencia }}</td>
                    <td>{{ cliente.direccion }}</td>
                    <td>{{ obtenerNombreSede(cliente.idSede) }}</td>
                    <td>
                        <button class="btn btn-primary btn-sm" (click)="editarcliente(cliente)" data-bs-toggle="modal"
                            data-bs-target="#staticBackdrop" style="width: 100%;height: 50%;">Editar</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<!-- Modal Edicion-->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Editar Mecánico</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-3">
                        <label class="col-form-label">Nombre:</label>
                        <input *ngIf="clienteEditando" type="text" class="form-control"
                            [(ngModel)]="clienteEditando.nombre" [ngModelOptions]="{standalone: true}">
                    </div>
                    <div class="mb-3">
                        <label class="col-form-label">Fecha Nacimiento:</label>
                        <input *ngIf="clienteEditando" type="text" class="form-control" [(ngModel)]="clienteEditando.fechaNacimiento"
                        [ngModelOptions]="{standalone: true}">
                    </div>
                    <div class="mb-3">
                        <label class="col-form-label">Telefono:</label>
                        <input *ngIf="clienteEditando"  type="text" class="form-control" [(ngModel)]="clienteEditando.telefono" [ngModelOptions]="{standalone: true}">
                    </div>
                    <div class="mb-3">
                        <label class="col-form-label">Correo:</label>
                        <input *ngIf="clienteEditando" type="text" class="form-control" [(ngModel)]="clienteEditando.correo" [ngModelOptions]="{standalone: true}">
                    </div>
                    <div class="mb-3">
                        <label class="col-form-label">Ciudad Residencia:</label>
                        <input *ngIf="clienteEditando" type="text" class="form-control" [(ngModel)]="clienteEditando.ciudadResidencia" [ngModelOptions]="{standalone: true}">
                    </div>
                    <div class="mb-3">
                        <label class="col-form-label">Direccion:</label>
                        <input *ngIf="clienteEditando"  type="text" class="form-control" [(ngModel)]="clienteEditando.direccion" [ngModelOptions]="{standalone: true}">
                    </div>
                    <div class="mb-3">
                        <label class="col-form-label">Sede:</label>
                        <select  *ngIf="clienteEditando" class="form-control" [(ngModel)]="clienteEditando.idSede" name="sede">
                            <option *ngFor="let sede of sedesList" [value]="sede.id">{{ sede.nombre }}</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal"
                    (click)="guardarEdicion()">Guardar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Creacion-->
<div class="modal fade" id="staticCrear" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Crear Mecánico</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-3">
                        <label class="col-form-label">Nombre:</label>
                        <input type="text" class="form-control"
                            [(ngModel)]="nombre" [ngModelOptions]="{standalone: true}">
                    </div>
                    <div class="mb-3">
                        <label class="col-form-label">Fecha Nacimiento:</label>
                        <input type="date" class="form-control" [(ngModel)]="fechaNacimiento"
                        [ngModelOptions]="{standalone: true}">
                    </div>
                    <div class="mb-3">
                        <label class="col-form-label">Telefono:</label>
                        <input  type="text" class="form-control" [(ngModel)]="telefono" [ngModelOptions]="{standalone: true}">
                    </div>
                    <div class="mb-3">
                        <label class="col-form-label">Correo:</label>
                        <input type="email" class="form-control" [(ngModel)]="correo" [ngModelOptions]="{standalone: true}">
                    </div>
                    <div class="mb-3">
                        <label class="col-form-label">Contraseña:</label>
                        <input type="password" class="form-control" [(ngModel)]="contrasenia" [ngModelOptions]="{standalone: true}">
                    </div>
                    <div class="mb-3">
                        <label class="col-form-label">Ciudad de Residencia:</label>
                        <input type="text" class="form-control" [(ngModel)]="ciudadResidencia" [ngModelOptions]="{standalone: true}">
                    </div>
                    <div class="mb-3">
                        <label class="col-form-label">Direccion:</label>
                        <input  type="text" class="form-control" [(ngModel)]="direccion" [ngModelOptions]="{standalone: true}">
                    </div>
                    <div class="mb-3">
                        <label class="col-form-label">Sede:</label>
                        <select class="form-control" [(ngModel)]="idSede" name="sede">
                            <option *ngFor="let sede of sedesList" [value]="sede.id">{{ sede.nombre }}</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal"
                    (click)="guardarCreacion()">Guardar</button>
            </div>
        </div>
    </div>
</div>