<div class="container p-5">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3">
        <div class="col mb-3">
            <label class="form-label fw-bold">Placa:</label>
            <input type="text" class="form-control" placeholder="" [(ngModel)]="placa">
        </div>
        <div class="col mb-3">
            <label class="form-label fw-bold">Marca:</label>
            <select class="form-select" [(ngModel)]="marca" name="marca">
                <option *ngFor="let marca of marcaList" [value]="marca.id">{{ marca.nombre }}
                </option>
            </select>
        </div>
        <div class="col mb-3">
            <label class="form-label fw-bold">Cilindraje:</label>
            <input type="number" class="form-control" placeholder="" [(ngModel)]="estado">
        </div>
        <div class="col mb-3">
            <label class="form-label fw-bold">Tipo Vehiculo:</label>
            <select class="form-select" [(ngModel)]="tipoVehiculo" name="tipoVehiculo">
                <option *ngFor="let tipoVehiculo of tipoVehiculoList" [value]="tipoVehiculo.id">{{ tipoVehiculo.nombre }}
                </option>
            </select>
        </div>
        <div class="col mb-3">
            <label class="form-label fw-bold">Modelo:</label>
            <input type="number" class="form-control" placeholder="" [(ngModel)]="modelo">
        </div>
        <div class="col mb-3">
            <label class="form-label fw-bold">Numero de pasajeros:</label>
            <input type="number" class="form-control" placeholder="" [(ngModel)]="capacidadPasajeros">
        </div>
    </div>
</div>
<div class="container mt-1 ps-5 pe-5">
    <div class="mt-3">
        <label class="form-label fw-bold">Observaciones:</label>
        <textarea class="form-control" rows="6" placeholder="Escriba aquí la descripcion más detallada de su carro" [(ngModel)]="descripcion"></textarea>
    </div>
</div>

<div class="container d-flex justify-content-center mt-3">
    <button class="btn btn-outline-warning " (click)="guardarVehiculo()">Registrar Vehiculo</button>
</div>