<div class="container pt-5 ps-5 pe-5">
    <div class="row">
        <div class="col-md-6 mb-3">
            <label class="form-label fw-bold pt-3">Placa del vehículo a consultar:</label>
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Buscar">
                <button class="btn btn-primary" type="button">Buscar</button>
            </div>
        </div>
        <div class="col-md-6 mb-3 text-md-right">
            <button class="btn btn-success" type="button">Crear</button>
            <button class="btn btn-primary" (click)="editarMecanico(mecanicos)">Editar</button>
            <button class="btn btn-danger" type="button" (click)="eliminarSeleccionados()">Eliminar
                Seleccionados</button>
        </div>
    </div>
</div>

<div class="container pt-5 ps-5 pe-5">
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Fecha</th>
                    <th scope="col">Revisiones</th>
                    <th scope="col">Mecánico</th>
                    <th scope="col">Estado</th>
                    <th scope="col">Precio</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                <tr *ngFor="let mecanico of mecanicos; let i = index">
                    <td><input type="checkbox" class="form-check-input" [(ngModel)]="mecSelected[i]" /></td>
                    <td>{{ mecanico.nombre }}</td>
                    <td>{{ mecanico.especialidad }}</td>
                    <td>{{ mecanico.experiencia }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div *ngIf="mecanicoEditando">
    <label>Nombre:</label>
    <input type="text" [(ngModel)]="mecanicoEditando.nombre">

    <label>Especialidad:</label>
    <input type="text" [(ngModel)]="mecanicoEditando.especialidad">

    <label>Experiencia:</label>
    <input type="text" [(ngModel)]="mecanicoEditando.experiencia">

    <button class="btn btn-success btn-sm" (click)="guardarEdicion()">Guardar</button>
</div>
