    <div class="container">
        <div class="profile">
            <p class="fw-bold h5">Bienvendio</p>
            <p class="fw-bold h2">{{nombre}}</p>
        </div>
        <div class="selectors">
                <ng-container  *ngIf="tipoUsuario === 1">
                    <button class="btn btn-info mb-4" (click)="dynamicComponentLoader.loadDynamicComponent('gestion-mecanicos', userInfo)">Gestion de mecanicos</button>
                    <button class="btn btn-info mb-4" (click)="dynamicComponentLoader.loadDynamicComponent('gestion-usuarios', userInfo)">Gestion de usuarios</button>
                    <button class="btn btn-info mb-4" (click)="dynamicComponentLoader.loadDynamicComponent('solicitar-servicio', userInfo)">Solicitudes de servicio</button>
                    <button class="btn btn-info mb-4" (click)="dynamicComponentLoader.loadDynamicComponent('registrar-vehiculo', userInfo)">Registrar Vehiculo</button>
                    <button class="btn btn-info mb-4" (click)="dynamicComponentLoader.loadDynamicComponent('consultar-vehiculo', userInfo)">Consultar Vehiculo</button>
                    <button class="btn btn-info mb-4" (click)="dynamicComponentLoader.loadDynamicComponent('gestion-agenda', userInfo)">Gestionar Agenda</button>
                    <button class="btn btn-outline-danger mb-2">
                        
                        Cerrar la Sesión</button>
                </ng-container >
                <ng-container *ngIf="tipoUsuario === 2">
                    <button class="btn btn-info mb-4" (click)="dynamicComponentLoader.loadDynamicComponent('gestion-agenda', userInfo)">Gestionar Agenda</button>
                    <button class="btn btn-info mb-4" (click)="dynamicComponentLoader.loadDynamicComponent('consultar-vehiculo', userInfo)">Consultar Vehiculo</button>
                    <button class="btn btn-outline-danger btn-lg p-3 fw-bold mb-2">Cerrar la Sesión</button>
                </ng-container>
                <ng-container *ngIf="tipoUsuario === 3">
                    <button class="btn btn-info mb-4" (click)="dynamicComponentLoader.loadDynamicComponent('solicitar-servicio', userInfo)">Solicitudes de servicio</button>
                    <button class="btn btn-info mb-4" (click)="dynamicComponentLoader.loadDynamicComponent('registrar-vehiculo', userInfo)">Registrar Vehiculo</button>
                    <button class="btn btn-info mb-4" (click)="dynamicComponentLoader.loadDynamicComponent('consultar-vehiculo', userInfo)">Consultar Vehiculo</button>
                    <button class="btn btn-info mb-4" (click)="dynamicComponentLoader.loadDynamicComponent('gestion-agenda', userInfo)">Gestionar Agenda</button>
                    <button class="btn btn-outline-danger btn-lg p-3 fw-bold mb-2">Cerrar la Sesión</button>
                </ng-container>
            </div>
        </div>
    <div class="main-content">
        <div class="header">
            <div></div>
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="directions_car"></mat-icon>
            <p>Perfil: Propietario</p>
        </div>
        <!-- Content goes here -->
        <div>
            <app-dynamic-component-loader #dynamicComponentLoader></app-dynamic-component-loader>
        </div>
    </div>
