<div class="container pt-5 ps-5 pe-5">
    <div class="row">
        <div class="col-md-6 mb-3 pe-5">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Buscar" [(ngModel)]="searchTerm">
                <button class="btn btn-primary" type="button">Buscar</button>
            </div>
        </div>
        <div class="col-md-6 mb-3 text-md-right " style="margin-left: auto;display: flex; justify-content: flex-end;">
            <button class="btn btn-success" type="button" data-bs-toggle="modal"
                data-bs-target="#staticCrear">Crear</button>
            <button class="btn btn-danger" type="button" (click)="eliminarSeleccionados()">Eliminar
                Seleccionados</button>
        </div>
    </div>
</div>

<div class="container pt-5 ps-5 pe-5">
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Placa</th>
                    <th scope="col">Tipo Vehiculo</th>
                    <th scope="col">Pasajeros</th>
                    <th scope="col">Descripcion</th>
                    <th scope="col">Modelo</th>
                    <th scope="col">Marca</th>
                    <th scope="col">Dueño</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                <tr *ngFor="let vehiculo of paginateVehiculos()| filterPlaca: searchTerm; let i = index">
                    <td><input type="checkbox" class="form-check-input" [checked]="vehiculosSeleccionados.includes(vehiculo.placa)" (change)="toggleSelection(vehiculo.placa)" /></td>
                    <td>{{ vehiculo.placa }}</td>
                    <td>{{ obtenerNombreTipoVehiculo(vehiculo.tipoVehiculo)}}</td>
                    <td>{{ vehiculo.capacidadPasajeros}}</td>
                    <td>{{ vehiculo.descripcion }}</td>
                    <td>{{ vehiculo.modelo }}</td>
                    <td>{{ obtenerNombreMarca(vehiculo.marca) }}</td>
                    <td>{{ obtenerNombreCliente(vehiculo.idCliente) }}</td>
                    <td>
                        <button class="btn btn-primary btn-sm" (click)="editarMecanico(vehiculo)" data-bs-toggle="modal"
                            data-bs-target="#staticBackdrop" style="width: 100%;height: 50%;">Editar</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <ul class="pagination">
            <li class="page-item" [class.disabled]="currentPage === 1">
                <button class="page-link" (click)="goToPage(currentPage - 1)">Anterior</button>
            </li>
            <li class="page-item" *ngFor="let page of generatePageArray(totalPages)"
                [class.active]="currentPage === page">
                <button class="page-link" (click)="goToPage(page)">{{ page }}</button>
            </li>
            <li class="page-item" [class.disabled]="currentPage === totalPages">
                <button class="page-link" (click)="goToPage(currentPage + 1)">Siguiente</button>
            </li>
        </ul>
    </div>
</div>

<!-- Modal Edicion-->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Editar Mecánico</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-3">
                        <label class="col-form-label">Placa:</label>
                        <input *ngIf="mecanicoEditando" type="text" class="form-control"
                            [(ngModel)]="mecanicoEditando.placa" [ngModelOptions]="{standalone: true}" [disabled]="userId.tipoUsuario == 3">
                    </div>
                    <div class="mb-3">
                        <label class="col-form-label">Tipo de vehiculo:</label>
                        <select *ngIf="mecanicoEditando" class="form-control"
                            [(ngModel)]="mecanicoEditando.tipoVehiculo" name="tipoVehiculo">
                            <option *ngFor="let tipoVehiculo of tipoVehiculoList" [value]="tipoVehiculo.id">{{
                                tipoVehiculo.nombre }}</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label class="col-form-label">Capacidad de pasajeros:</label>
                        <input *ngIf="mecanicoEditando" type="text" class="form-control"
                            [(ngModel)]="mecanicoEditando.capacidadPasajeros" [ngModelOptions]="{standalone: true}">
                    </div>
                    <div class="mb-3">
                        <label class="col-form-label">Descripcion:</label>
                        <textarea *ngIf="mecanicoEditando" type="text" class="form-control"
                            [(ngModel)]="mecanicoEditando.descripcion" [ngModelOptions]="{standalone: true}"></textarea>
                    </div>
                    <div class="mb-3">
                        <label class="col-form-label">Modelo:</label>
                        <input *ngIf="mecanicoEditando" type="text" class="form-control"
                            [(ngModel)]="mecanicoEditando.modelo" [ngModelOptions]="{standalone: true}">
                    </div>
                    <div class="mb-3">
                        <label class="col-form-label">Marca:</label>
                        <select *ngIf="mecanicoEditando" class="form-control" [(ngModel)]="mecanicoEditando.marca"
                            name="sede">
                            <option *ngFor="let marca of marcaList" [value]="marca.id">{{ marca.nombre }}</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label class="col-form-label">Cliente:</label>
                        <select *ngIf="mecanicoEditando" class="form-control" [(ngModel)]="mecanicoEditando.idCliente"
                            name="sede" [disabled]="userId.tipoUsuario == 3">
                            <option *ngFor="let cliente of clientesList" [value]="cliente.id">{{ cliente.nombre }}
                            </option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal"
                    (click)="guardarEdicion()">Guardar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Creacion-->
<div class="modal fade" id="staticCrear" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Crear Vehiculo</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-3">
                        <label class="col-form-label">Placa:</label>
                        <input type="text" class="form-control" [(ngModel)]="placa"
                            [ngModelOptions]="{standalone: true}">
                    </div>
                    <div class="mb-3">
                        <label class="col-form-label">Tipo de vehiculo:</label>
                        <select class="form-control" [(ngModel)]="tipoVehiculo" name="tipoVehiculo">
                            <option *ngFor="let tipoVehiculo of tipoVehiculoList" [value]="tipoVehiculo.id">{{
                                tipoVehiculo.nombre }}</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label class="col-form-label">Capacidad de pasajeros:</label>
                        <input type="text" class="form-control" [(ngModel)]="capacidadPasajeros"
                            [ngModelOptions]="{standalone: true}">
                    </div>
                    <div class="mb-3">
                        <label class="col-form-label">Descripcion: </label>
                        <textarea type="text" class="form-control" [(ngModel)]="descripcion"
                            [ngModelOptions]="{standalone: true}"></textarea>
                    </div>
                    <div class="mb-3">
                        <label class="col-form-label">Modelo:</label>
                        <input type="text" class="form-control" [(ngModel)]="modelo"
                            [ngModelOptions]="{standalone: true}">
                    </div>
                    <div class="mb-3">
                        <label class="col-form-label">Marca:</label>
                        <select class="form-control" [(ngModel)]="marca" name="marca">
                            <option *ngFor="let marca of marcaList" [value]="marca.id">{{ marca.nombre }}</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal"
                    (click)="guardarCreacion()">Guardar</button>
            </div>
        </div>
    </div>
</div>